<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MSMQLocation" value="FormatName:Direct=TCP:192.168.0.101\Private$\HandbrakeCluster"/>
    <add key="HandbrakePreset" value="AppleTV 2"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>